html{
    height:100%;
    width: 100%;
  }

/*??*/  
  .static {
    display: none;
      /*background-color: blue;*/
      /*opacity:.20;*/
      position:fixed;
      bottom: 0;
      right:0 ;
  }

  
  
  
 
  

 /*??*/
  .controls {
    text-align: center;
    margin-top:10px;
  }

  .btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-weight: bold;
    background: #bdbdbd;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    height: 34px;
    width: 120px;
    line-height: 8px;
    font-size: 14px;
    /*float:left;*/
    /* margin-left:20px; */
  }

  .btn:hover {
    background: #807e80;
    text-decoration: none;
  }
  
  /* The switch - the box around the slider */
  .onoffswitch {
      float:left;
      position: relative; width: 119px;
      -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
      text-align:left;
    }
  .onoffswitch-checkbox {
      display: none;
    }
  .onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      border: 2px solid #FFFFFF; border-radius: 10px;
    }
  .onoffswitch-inner {
      display: block; width: 200%; margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
    }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
      display: block; float: left; width: 50%; height: 32px; padding: 0; line-height: 32px;
      font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      box-sizing: border-box;
    }
  .onoffswitch-inner:before {
      content: "HELP ON";
      padding-left: 10px;
      background-color: #BDBDBD; color: #FFFFFF;
    }
  .onoffswitch-inner:after {
      content: "HELP OFF";
      padding-right: 10px;
      background-color: #EEEEEE; color: #999999;
      text-align: right;
    }
  .onoffswitch-switch {
      display: block; width: 18px; margin: 7px;
      background: #FFFFFF;
      position: absolute; top: 0; bottom: 0;
      right: 83px;
      border: 2px solid #FFFFFF; border-radius: 10px;
      transition: all 0.3s ease-in 0s;
    }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px;
    }
  .tmlabel{
    font-size: 14px;
  }
  .scaffold text{
    fill:#3498db;
    font-family:"Helvetica";
    font-size:14;
  }
  .subheading{
      font-style:italic;
  }
  .boxed {
    border: 1px solid black;
  }
  
  
  /*CUSTOM CHECKBOX */
  .control {
      font-family: arial;
      /* display: block; */
      position: relative;
      padding-left: 29px;
      margin-bottom: 8px;
      padding-top: 0px;
      cursor: pointer;
      font-size: 20px;
  }
      .control input {
          position: absolute;
          z-index: -1;
          opacity: 0;
      }
  .control_indicator {
      position: absolute;
      top: 3px;
      left: 0;
      height: 20px;
      width: 20px;
      background: #cccccc;
      border: 0px solid #000000;
  }
  .control-radio .control_indicator {
      /* border-radius: undefined%; */
  }
  
  .control:hover input ~ .control_indicator,
  .control input:focus ~ .control_indicator {
      background: #aaaaaa;
  }
  
  .control input:checked ~ .control_indicator {
      background: #3499DB;
  }
  .control:hover input:not([disabled]):checked ~ .control_indicator,
  .control input:checked:focus ~ .control_indicator {
    background: #3499DB;
  }
  .control input:disabled ~ .control_indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
  }
  .control_indicator:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
  }
  .control input:checked ~ .control_indicator:after {
      display: block;
  }
  .control-checkbox .control_indicator:after {
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #ffffff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
  }
  .control-checkbox input:disabled ~ .control_indicator:after {
      border-color: #7b7b7b;
  }
  
  /*FOR FULLSCREEN IFRAME for OSPAN- and other linked tasks*/
  /* iframe { */
      /* display: block;       /* iframes are inline by default */
      /* background: #000;
      border: none;         /* Reset default border */
      /* height: 100vh;        /* Viewport-relative units */
      /* width: 100vw; */
  /* } */
  
  p.warning{
    color: red;
    font-weight: bold;
  }
  