<!doctype html>
<html>
    <head>
        <title>FOX_SGCX</title>
        <!--JAVASCRIPT LIBRARIES -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" type="text/css"></link>

    </head>
    <body>
      <div class="centered">

      <!-- You have now completed the study.
      <p>Please press F11 to exit fullscreen mode.  </p>
      <p>Please logoff your computer, and tidy the workstation. </p>
      <p>Please return all materials to the experimenter </p>
      Thank you for your time, and have a wonderful day!  -->


      <br><br><br><br>

      <i>NOTE: You will need to copy/paste your SUBJECT ID into the survey (do not close this window).</i>

      <br><br><br><br>
      Please copy (CNTRL/CMD + C) your SUBJECT ID: <p id="userid">[subjectid]<p>


        To complete the next part of this study, click the link (below) to open a (qualtrics) survey.
        <br>
        <a target="_blank" href="https://ucsd.co1.qualtrics.com/jfe/form/SV_0MrQH8f5ZRzp3am"> https://ucsd.co1.qualtrics.com/jfe/form/SV_0MrQH8f5ZRzp3am</a>
        <br> <br> <br> <br>


      <!-- COULD embed qualtrics survey in an iframe, but I'm concerned about not writing the data to the DB if subjects close the window? -->
      <!-- <iframe src="https://www.w3schools.com" title="W3Schools Free Online Web Tutorials"></iframe> -->




    </div>

  </body>

</html>

<script>



let params = new URLSearchParams(document.location.search.substring(1));
let subject = params.get("subject"); // is the string "Jonathan"

$('#userid').html(subject);
</script>
